# Part 1.5: Intermediate Python for Data Science

Unfortunately I am unable to include the datasets from Dataquest as they are a subscriber-only feature.

## Cleaning and Preparing Data in Python

Counting rows in a dataset:

In [ ]:
num_rows = len(moma)
print(num_rows)

Opening a dataset and removing the header row:

In [ ]:
opened_file = open('artworks.csv')
read_file = reader(opened_file)
moma = list(read_file)
moma = moma[1:]

Simple substring replacement:

In [2]:
age1 = "I am thirty-one years old"
age2 = age1.replace("thirty-one","thirty-two")
print(age2)

I am thirty-two years old

Transforming titles before replacing blank elements:

In [ ]:
for row in moma:
    gender = row[5]
    gender = gender.title()
    if not gender:
        gender = "Gender Unknown/Other"
    row[5] = gender

for row in moma:
    nationality = row[2]
    nationality = nationality.title()
    if not nationality:
        nationality = "Nationality Unknown"
    row[2] = nationality
    
print(moma[200])

Cleaning and converting birth/death years to ints:

In [ ]:
def clean_and_convert(date):
    # check that we don't have an empty string
    if date != "":
        # move the rest of the function inside
        # the if statement
        date = date.replace("(", "")
        date = date.replace(")", "")
        date = int(date)
    return date

for row in moma:
    birth_date = row[3]
    death_date = row[4]
    birth_date = clean_and_convert(birth_date)
    death_date = clean_and_convert(death_date)
    row[3] = birth_date
    row[4] = death_date
    
print(moma[200])

Parsing numbers from complex string:

In [1]:
test_data = ["1912", "1929", "1913-1923",
             "(1951)", "1994", "1934",
             "c. 1915", "1995", "c. 1912",
             "(1988)", "2002", "1957-1959",
             "c. 1955.", "c. 1970's", 
             "C. 1990-1999"]

bad_chars = ["(",")","c","C",".","s","'", " "]

def strip_characters(string):
    for char in bad_chars:
        string = string.replace(char, "")
    return string

stripped_test_data = []

for date in test_data:
    date = strip_characters(date)
    stripped_test_data.append(date)

print(stripped_test_data)

['1912', '1929', '1913-1923', '1951', '1994', '1934', '1915', '1995', '1912', '1988', '2002', '1957-1959', '1955', '1970', '1990-1999']

In [ ]:

test_data = ["1912", "1929", "1913-1923",
             "(1951)", "1994", "1934",
             "c. 1915", "1995", "c. 1912",
             "(1988)", "2002", "1957-1959",
             "c. 1955.", "c. 1970's", 
             "C. 1990-1999"]

bad_chars = ["(",")","c","C",".","s","'", " "]

def strip_characters(string):
    for char in bad_chars:
        string = string.replace(char,"")
    return string

stripped_test_data = ['1912', '1929', '1913-1923',
                      '1951', '1994', '1934',
                      '1915', '1995', '1912',
                      '1988', '2002', '1957-1959',
                      '1955', '1970', '1990-1999']

def process_date(string):
    if "-" in string:
        split_date = string.split("-")
        date_1 = split_date[0]
        date_2 = split_date[1]
        date = (int(date_1) + int(date_2)) / 2
        string = round(date)
    else:
        string = int(string)
    return string

processed_test_data = []

for date in stripped_test_data:
    newdate = process_date(date)
    processed_test_data.append(newdate)
    
print(processed_test_data)

for row in moma:
    date = row[6]
    date = strip_characters(date)
    date = process_date(date)
    row[6] = date

[1912, 1929, 1918, 1951, 1994, 1934, 1915, 1995, 1912, 1988, 2002, 1958, 1955, 1970, 1994]

## Python Data Analysis Basics

Converting dates as strings to ints:

In [ ]:
from csv import reader

# Read the `artworks_clean.csv` file
opened_file = open('artworks_clean.csv')
read_file = reader(opened_file)
moma = list(read_file)
moma = moma[1:]

# Convert the birthdate values
for row in moma:
    birth_date = row[3]
    if birth_date != "":
        birth_date = int(birth_date)
    row[3] = birth_date
    
# Convert the death date values
for row in moma:
    death_date = row[4]
    if death_date != "":
        death_date = int(death_date)
    row[4] = death_date

# Write your code below

for row in moma:
    date = row[6]
    if date != "":
        date = int(date)
    row[6] = date

Calculating ages:

In [ ]:
ages = []

for row in moma:
    date = row[6]
    birth = row[3]
    if type(birth) == int:
        age = date - birth
    else:
        age = 0
    ages.append(age)

final_ages = []

for age in ages:
    if age > 20:
        final_age = age
    else:
        final_age = "Unknown"
    final_ages.append(final_age)

Converting ages to decades:

In [ ]:
decades = []

for age in final_ages:
    if age == "Unknown":
        decade = age
    else:
        decade = str(age)
        decade = decade[:-1]
        decade = decade + "0s"
    decades.append(decade)

Creating frequency table:

In [ ]:
decade_frequency = {}

for decade in decades:
    if decade in decade_frequency:
        decade_frequency[decade] += 1
    else:
        decade_frequency[decade] = 1
    
print(decade_frequency)

Inserting variables into strings:

In [5]:
artist = "Pablo Picasso"
birth_year = 1881

template = "{name}'s birth year is {year}"
output = template.format(name=artist, year = birth_year)
print(output)

Pablo Picasso's birth year is 1881

Creating an artist frequency table:

In [ ]:
gender_freq = {}

for row in moma:
    gender = row[5]
    if gender in gender_freq:
        gender_freq[gender] += 1
    else:
        gender_freq[gender] = 1
        
print(gender_freq)

artist_freq = {}

for row in moma:
    artist = row[1]
    if artist in artist_freq:
        artist_freq[artist] += 1
    else:
        artist_freq[artist] = 1
        
print(artist_freq)

Creating an artist summary function:

In [ ]:
def artist_summary(name):
    num_works = artist_freq[name]
    template = "There are {number} artworks by {artist_name} in the dataset"
    output = template.format(number = num_works, artist_name = name)
    print(output)
    
artist_summary("Henri Matisse")

Formatting numbers inside strings:

In [6]:
pop_millions = [
    ["China", 1379.302771],
    ["India", 1281.935991],
    ["USA",  326.625791],
    ["Indonesia",  260.580739],
    ["Brazil",  207.353391],
]

template = "The population of {country} is {number:,.2f} million"

for row in pop_millions:
    country = row[0]
    number = row[1]
    output = template.format(country=country, number=number)
    print(output)

The population of China is 1,379.30 million
The population of India is 1,281.94 million
The population of USA is 326.63 million
The population of Indonesia is 260.58 million
The population of Brazil is 207.35 million

Summarizing Artwork Gender Data

In [ ]:
gender_freq = {}

for row in moma:
    gender = row[5]
    if gender in gender_freq:
        gender_freq[gender] += 1
    else:
        gender_freq[gender] = 1

for gender, num in gender_freq.items():
    template = "There are {n:,} artworks by {g} artists"
    print(template.format(g=gender, n=num))

## Object-Oriented Python

Querying the class an object is:

In [8]:
l = [1, 2, 3]
s = "string"
d = {"a": 1, "b": 2}

print(type(l))
print(type(s))
print(type(d))

<class 'list'>
<class 'str'>
<class 'dict'>

Creating a placeholder class:

In [ ]:
class MyClass:
    pass

Instantiating a custom class:

In [10]:
class MyClass:
    pass

my_instance = MyClass()
print(type(my_instance))

<class '__main__.MyClass'>

Class with basic method:

In [13]:
class MyClass:
    def first_method():
        return "This is my first method"
        
my_instance = MyClass()

In [12]:
class MyClass:
    def first_method(self):
        return "This is my first method"
    
my_instance = MyClass()
result = my_instance.first_method()

In [11]:
class MyClass:
    
    def first_method(self):
        return "This is my first method"
    
    # Add method here
    
    def return_list(self, input_list):
        return input_list
    
my_instance = MyClass()
result = my_instance.return_list([1,2,3])
print(result)

[1, 2, 3]

Create an instance of a class with an attribute.

In [16]:
## Create a new class called MyList
class MyList:

    ## When an instance of this class is created, this "initial_data" argument is stored in the attribute "self.data"
    def __init__(self, initial_data):
        self.data = initial_data

## Create an instance of the class MyList called my_list with the argument [1,2,3,4,5], which will be stored in the self.data attribute.
my_list = MyList([1,2,3,4,5])
    
## Print the .data attribute of the my_list object (instance of the MyList class).
print(my_list.data)

[1, 2, 3, 4, 5]

Create a method to append data in an instance of a class:

In [14]:
class MyList:

    def __init__(self, initial_data):
        self.data = initial_data
        
    # Add method here
    
    def append(self, new_item):
        self.data = self.data + [new_item]
        
my_list = MyList([1,2,3,4,5])
print(my_list.data)
my_list.append(6)
print(my_list.data)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

Adding to the my_list object also increases its length attribute:

In [15]:
class MyList:

    def __init__(self, initial_data):
        self.data = initial_data
        # Calculate the initial length
        self.length = 0
        for item in self.data:
            self.length += 1

    def append(self, new_item):
        self.data = self.data + [new_item]
        # Update the length here
        self.length += 1

my_list = MyList([1,1,2,3,5])
print(my_list.length)
my_list.append(8)
print(my_list.length)

5
6

## Working with Dates and Times in Python

Opening csv and removing first row:

In [ ]:
from csv import reader
opened_file = open('potus_visitors_2015.csv')
read_file = reader(opened_file)
potus = list(read_file)

potus = potus[1:]

Importing a module as alias:

In [ ]:
import datetime as dt

Importing datetime as alias, then instantiating objects with datetime class:

In [1]:
## Import module with alias
import datetime as dt

# Create an object using the datetime function
eg_1 = dt.datetime(2000, 1, 1)

## Print the object to see it's value and type
print(eg_1)
print(type(eg_1))

eg_2 = dt.datetime(1985,3,13,21,26,2)
print(eg_2)

eg_3 = dt.datetime(1998,7,7,8,39)
print(eg_3)

ibm_founded = dt.datetime(1911,6,16)
man_on_moon = dt.datetime(1969,7,20,20,17)

2000-01-01 00:00:00
<class 'datetime.datetime'>
1985-03-13 21:26:02
1998-07-07 08:39:00

Using strptime to parse date + time, then converting string to datetime class:

In [ ]:
date_format = "%m/%d/%y %H:%M"

for row in potus:
    start_date = row[2]
    new_date = dt.datetime.strptime(start_date, date_format)
    row[2] = new_date

Creating a frequency table of dates from dataset:

In [ ]:
visitors_per_month = {}

for row in potus:
    start_date = row[2]
    sdstring = dt.datetime.strftime(start_date, "%B, %Y")
    if sdstring in visitors_per_month:
        visitors_per_month[sdstring] += 1
    else:
        visitors_per_month[sdstring] = 1

Create a list of appointment times:

In [ ]:
appt_times = []

for row in potus:
    datetime = row[2]
    time = datetime.time()
    appt_times.append(time)

Using datetime.timedelta:

In [2]:
dt_1 = dt.datetime(1981, 1, 31)
dt_2 = dt.datetime(1984, 6, 28)
dt_3 = dt.datetime(2016, 5, 24)
dt_4 = dt.datetime(2001, 1, 1, 8, 24, 13)

answer_1 = dt_2 - dt_1
print(answer_1)
answer_2 = dt_3 + dt.timedelta(days=56)
print(answer_2)
answer_3 = dt_4 - dt.timedelta(seconds=3600)
print(answer_3)

1244 days, 0:00:00
2016-07-19 00:00:00
2001-01-01 07:24:13

Find min and max appointment lengths:

In [ ]:
appt_lengths = {}

for row in potus:
    end_date = row[3]
    end_date = dt.datetime.strptime(end_date, "%m/%d/%y %H:%M")
    row[3] = end_date

for row in potus:
    start_date = row[2]
    end_date = row[3]
    length = end_date - start_date
    if length in appt_lengths:
        appt_lengths[length] += 1
    else:
        appt_lengths[length] = 1

min_length = min(appt_lengths)
max_length = max(appt_lengths)

print(min_length)
print(max_length)

## Guided Project: Exploring Hacker News Posts

Please see separate notebook.